body {
  width: min(1000px, calc(100vw - 20px));
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
#controls {
  display: flex;
  padding: 2rem 0 1rem;
}
#controls > a:first-of-type {
  margin-left: auto;
}
